[Unit]
Description=Start Nexus Sonatype Docker Conatiner

[Service]
Type=simple
ExecStart=/etc/systemd/system/start-nexus.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
